.invite-card{
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 0 30px;
}

.invite-card-content {
  display: flex;
  align-items: center;
}

.invite-card-content-text {
  margin-left: 10px;
}

.invite-card h5, .invite-card p {
  margin: 10px 0;
}

.invite-card-image {
  width: 50px;
  border-radius: 50px;
}

.invite-modal-form {
  display: flex;
  width: 200px;
  justify-content: space-around;
}

.accept-button, .reject-button {
  width: 80px;
}
